{% extends 'PanelBundle:panel:base.html.twig' %}

{% block metas %}
<meta name="description" content="panel excel">
<meta name="keywords" content="Panel">
{% endblock %}

{% block stylesheets %}
	
	<link href="{{ asset('bundles/panel/css/styles.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
	{{ app.session.get('rol') }}
<div class="conte90 margin-top-first-content">
<center><img class="banerhome" src="{{ asset('bundles/panel/images/banerHomeExcel.png') }}" /></center>
{% if numerofilas!= "" %}
	{{ numerofilas|raw }}
{% endif %}

<!-- form1 -->
{{ form_start(form, {'attr': {'id': 'form-seleccionar'}})  }}
{{ form_widget(form) }}
{{ form_end(form) }}
<!-- END form1 -->

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ asset('bundles/panel/js/jquery-1.11.3.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/panel/js/funciones.js') }}" ></script>
{% endblock %}




